.p
{
    height: 200px;
    width: 100px;
     background-color: gold;
}
.s
{ 
    height: 250px;
    width: 150px;
    background-color: brown;
}
.mystyle{
    
    background-color: rgba(0,0,0,0.7);
}
body{
    padding-top: 100px;
}